.loginConteiner {
    width: 100vw;
    height: 100vh;
    margin: 0;
    border: none;
    background-color: #fff;
    display: grid;
    justify-items: center;
    align-items: center;
}

/* Estilização do logo */
.viglogoConteiner {
    display: grid;
    justify-items: center;
}

.viglogoConteiner img {
    width: 50vw;
}

.viglogoConteiner p {
    color: #00000066;
    font-size: 9pt;
}

/* Estilização da div com os inputs*/
.inputConteiner form{
    display: grid;
    justify-items: center;
}

.inputConteiner input {
    margin-bottom: 2vh;
}

/* Estilização da div com as opções de manter logado e recuperar senha*/
.opcaoSenha {
    display: flex;
    width: 70vw;
    justify-content: space-between;
}

.opcaoSenha input[type="checkbox"]{
    width: 15px;
    height: 15px;
    margin-left: 2vw;
    margin-right: 5px;
}

.opcaoSenha label {
    font-size: 8pt;
    color: #000000a6;
}

.opcaoSenha a {
    font-size: 8pt;
    margin-right: 2vw;
}

/* Estilização da div com os logos institucionais*/
.logosConteiner a {
    margin: 0 2vw;
}

.logosConteiner img {
    width: 65px;
    height: 65px;
}

@media screen and (min-width: 600px) {
    .loginConteiner {
        width: 500px;
        height: 620px;
        border-radius: 10px;
        border: #0000002a solid 1px;
        box-shadow: 10px 10px 10px #0000001a;
        margin: 3vh auto;
    }

     /* Estilização do logo */
    .viglogoConteiner {
        margin-top: 22px;
    }

    .viglogoConteiner img {
        width: 225px;
    }

    .viglogoConteiner p {
        font-size: 10pt;
    }

    /* Estilização da div com os inputs*/
    .inputConteiner input {
        margin-bottom: 10px;
    }

    /* Estilização da div com as opções de manter logado e recuperar senha*/
    .opcaoSenha {
        width: 322px;
    }

    .opcaoSenha input[type="checkbox"]{
        width: 15px;
        height: 15px;
        margin-left: 10px;
        margin-right: 5px;
    }

    .opcaoSenha label {
        font-size: 10pt;
    }
    
    .opcaoSenha a {
        font-size: 10pt;
        margin-right: 10px;
    }

    /* Estilização da div com os logos institucionais*/
    .logosConteiner a {
        margin: 0 10px;
    }
}